table, td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

table {
	margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

tr{
 background-color: #5456da;
}

tr:nth-child(even){background-color: #f1eb0b}